<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>SignUp.APP_DOC_003()[pri:2, instance:com.tatahealth.EMR.Scripts.UserSignUp.SignUp@75329a49]<br/></td></tr>
<tr><td>SignUp</td><td>SignUp.APP_DOC_003()[pri:2, instance:com.tatahealth.EMR.Scripts.UserSignUp.SignUp@75329a49]<br/></td></tr>
</table>
