<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AutomationEMR by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6095a2">  <td>20/08/06 17:05:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignUp.beforeClass()[pri:0, instance:com.tatahealth.EMR.Scripts.UserSignUp.SignUp@75329a49]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/08/06 17:05:56</td>   <td>858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.APP_DOC_003()[pri:2, instance:com.tatahealth.EMR.Scripts.UserSignUp.SignUp@75329a49]">APP_DOC_003</td> 
  <td>main@128359175</td>   <td></td> </tr>
</table>
